{% extends 'main/base.html' %}

{% block title %}
Addressees
{% endblock %}

{% block content %}
    <h1>Выберете адресатов для рассылки</h1>
    <a class="nav-link" href="{% url 'addressees_create' %}">Добавить адресата</a>
    <ul>
      {% for addr in object_list %}
      <li>
        <p>
            {{ addr.first_name }} {{ addr.last_name }} {{ addr.email }} {{ addr.group }}
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label" for="inlineCheckbox1">Добавить в рассылку</label>
            </div>
        <p/>
      </li>
      {% endfor %}
    </ul>
    <a class="nav-link" href="{% url 'addressees_create' %}">Добавить адресата</a>
{% endblock %}