{% extends 'main/base.html' %}

{% block description %}
Рассылка кастомизированных писем
{% endblock %}

{% block title %}
Mailing app
{% endblock %}

{% block header %}
<h1>Рассылка email</h1>
<p>На этой странице вы можете создать шаблон письма и отправить его по списку рассылки.</p>
<hr>
{% endblock %}

{% block content %}
<p>Здесь будут отображаться рассылки совершенные вами ранее.</p>
{% endblock %}

{% block mailing_name %}
<p>здесь будут отображаться названия ранее сделаных рассылок</p>
{% endblock %}